<html>
<head>
    <title>Connect-me</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no"/>
    <link rel="stylesheet" href="assets/css/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <header class="d-flex align-items-center fluid">
        <div class="header-content d-flex justify-content-center">
            <div class="header-title">Level: {{level}}</div>
        </div>
    </header>
    <div class="container mt-5 d-flex flex-column align-items-center">
        <div class="table">
            <div class="row">
                {{#row1}}
                    <div class="col" onclick="test()">
                        <div class="d-flex justify-content-center align-items-center" style="position: absolute; height: 120px; width: 120px;">
                            <img id="topPins" style="position: absolute; top: -4px; z-index: 1;" src="http://localhost:8080/image/{{topPins}}.png" />
                            <img id="bottomPins" style="position: absolute; bottom: -4px; z-index: 2;" src="http://localhost:8080/image/{{bottomPins}}.png" />
                            <img id="leftPins" style="position: absolute; z-index: 3; left: -33px; transform: rotate(270deg);" src="http://localhost:8080/image/{{leftPins}}.png" />
                            <img id="rightPins" style="position: absolute; z-index: 3; right: -33px; transform: rotate(270deg);" src="http://localhost:8080/image/{{rightPins}}.png" />
                        </div>
                        <img id="component" style="padding: 0; margin: 0; position: absolute;" src="http://localhost:8080/image/{{type}}.png" height="120px" />
                    </div>
                {{/row1}}
            </div>
            <div class="row">
                {{#row2}}
                    <div class="col" onclick="test()">
                        <div class="d-flex justify-content-center align-items-center" style="position: absolute; height: 120px; width: 120px;">
                            <img id="topPins" style="position: absolute; top: -4px; z-index: 1;" src="http://localhost:8080/image/{{topPins}}.png" />
                            <img id="bottomPins" style="position: absolute; bottom: -4px; z-index: 2;" src="http://localhost:8080/image/{{bottomPins}}.png" />
                            <img id="leftPins" style="position: absolute; z-index: 3; left: -33px; transform: rotate(270deg);" src="http://localhost:8080/image/{{leftPins}}.png" />
                            <img id="rightPins" style="position: absolute; z-index: 3; right: -33px; transform: rotate(270deg);" src="http://localhost:8080/image/{{rightPins}}.png" />
                        </div>
                        <img id="component" style="padding: 0; margin: 0; position: absolute;" src="http://localhost:8080/image/{{type}}.png" height="120px" />
                    </div>
                {{/row2}}
            </div>
            <div class="row">
                {{#row3}}
                    <div class="col" onclick="test()">
                        <div class="d-flex justify-content-center align-items-center" style="position: absolute; height: 120px; width: 120px;">
                            <img id="topPins" style="position: absolute; top: -4px; z-index: 1;" src="http://localhost:8080/image/{{topPins}}.png" />
                            <img id="bottomPins" style="position: absolute; bottom: -4px; z-index: 2;" src="http://localhost:8080/image/{{bottomPins}}.png" />
                            <img id="leftPins" style="position: absolute; z-index: 3; left: -33px; transform: rotate(270deg);" src="http://localhost:8080/image/{{leftPins}}.png" />
                            <img id="rightPins" style="position: absolute; z-index: 3; right: -33px; transform: rotate(270deg);" src="http://localhost:8080/image/{{rightPins}}.png" />
                        </div>
                        <img id="component" style="padding: 0; margin: 0; position: absolute;" src="http://localhost:8080/image/{{type}}.png" height="120px" />
                    </div>
                {{/row3}}
            </div>
            <div class="row">
                {{#row4}}
                    <div class="col" onclick="test()">
                        <div class="d-flex justify-content-center align-items-center" style="position: absolute; height: 120px; width: 120px;">
                            <img id="topPins" style="position: absolute; top: -4px; z-index: 1;" src="http://localhost:8080/image/{{topPins}}.png" />
                            <img id="bottomPins" style="position: absolute; bottom: -4px; z-index: 2;" src="http://localhost:8080/image/{{bottomPins}}.png" />
                            <img id="leftPins" style="position: absolute; z-index: 3; left: -33px; transform: rotate(270deg);" src="http://localhost:8080/image/{{leftPins}}.png" />
                            <img id="rightPins" style="position: absolute; z-index: 3; right: -33px; transform: rotate(270deg);" src="http://localhost:8080/image/{{rightPins}}.png" />
                        </div>
                        <img id="component" style="padding: 0; margin: 0; position: absolute;" src="http://localhost:8080/image/{{type}}.png" height="120px" />
                    </div>
                {{/row4}}
            </div>
        </div>
        {{#canSolve}}
            <a href="/level/{{level}}/solved">
                <button type="button" class="btn btn-success">Solucionar desafio ✅</button>
            </a>
        {{/canSolve}}
        {{^canSolve}}
            {{#canNext}}
                <a href="/level/{{nextLevel}}/">
                    <button type="button" class="btn btn-primary">Próximo desafio  ▶</button>
                </a>
            {{/canNext}}
        {{/canSolve}}
    </div>
</body>
<style>
header {
    background-color: #033F63;
    height: 80px;
}
.header-content {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.header-title {
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.row {
    height: 120px;
    padding: 0px;
}
.col {
    padding: 0;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6290C8;
}
.table {
    width: 450px;
}
body {
    background-color: #346693;
}
</style>
</html>